form {
    text-align: center;
}

form > label {
    padding: 10px;
    display: block;
}

form > button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 20px 2px;
    border-radius: 16px;
}

input {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
  }


  select {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
  }

  .lobbies-header {
      text-align: center;
  }

  .join-div {
      margin-bottom: 50px;
  }
