nav {
    display: flex;
    align-items: center;
    background-color: #EEDEE8;
    height: 120px;
    padding: 10px;
}

.nav-link {
    margin-left: auto;
    color: black;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    padding-right: 10px;
}

.right-link {
    margin-left: 500px;
}

.nav-icon {
    height: 90px;
    /* margin-right: 40vw; */
    margin-left: 20px;
}
