nav {
    display: flex;
    align-items: center;
    background-color: #EEDEE8;
    height: 90px;
    padding: 10px;
}

.nav-link {
    margin-left: auto;
    color: black;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    padding-right: 15px;
}

.nav-icon {
    height: 30px;
    margin-right: 50vw;
    margin-left: 20px;
}
